.con-body{
    position: relative;
    height: 250vh;
    width: 100vw;
    z-index: 100;
    background-color: dodgerblue;
}
.co-heading{
    font-size: 10rem;
    font-family: sans-serif;
    transition: 2s ease;
    background-color: rgb(0, 0, 0);
    color :dodgerblue;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    padding: 0 0.2em;
}

.co-btn{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color:dodgerblue;
    font-weight: bold;
}
.co-btn:hover{
    color: rgb(2, 81, 160);
}