.projects{
    position: relative;
    height: 250vh;
    width: 100vw;
    z-index: 100;
    background-color: rgba(131, 0, 0, 0);
}
.pr-heading{
    font-size: 10rem;
    font-family: sans-serif;
    transition: 2s ease;
    background-color: rgb(0, 0, 0);
    color :red;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    padding: 0 0.2em;
}

.btn{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color:red;
    font-weight: bold;
}
.btn:hover{
    color: maroon;
}