*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: monospace;
    background-color: rgb(3, 33, 2);
    overflow-x: hidden;
}

.heading{
    color : lime;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    p{
        font-size: 2.5rem;
    }
}
.app-main{
    height: 100%;
    position: relative;
    /* opacity: 0; */
    /* display: block; */
}
.app-loader{
    width: 100vw;
    height : 100vh;
    position: relative;
    .loader-img{
        position: absolute;
        top : 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height : 100px;
        img{
            box-shadow: 0 0 50px #7bd71f;
            border-radius: 50%;
            width: 100%;
            background-size: cover;
            animation: loader-spin 1s linear 3;
            transition: 1s all linear;
        }
    }
}
.opvpar{
    position: absolute;
    top: 0;
    z-index: 111;
}

.pages{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.pages > *{
    z-index: 111;
    animation: fade 2s forwards;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
}

@keyframes loader-spin {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.hi{
    position: sticky;
    color: white;
    z-index: 111;
}
